$dark-blue: #3d6176;
$dark-teal: #558d97;
$light-teal: #99bfc6;
$lightest-blue: #c4ddde;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.form-container {
  border: 1px solid red;
  margin: 0 auto;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid red;
}

.input-group {
  width: 50%;
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}

.form-input {

}

.form-label {
  margin-right: 10px;
} 

.primary-btn {
  border-radius: 100px;
  border: none;
  padding: 10px 40px;
  background-color: $light-teal;
  color: #fff;
  transition: all 0.5s ease;
  margin: 10px 25px 25px 25px;
}

.primary-btn:hover {
  background-color: $lightest-blue;
  transform: scale(1.1);
}

