$dark-blue: #3d6176;
$dark-teal: #558d97;
$light-teal: #99bfc6;
$lightest-blue: #c4ddde;
$background: #f1f9f9;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: $dark-blue;
  color: #fff;
}

input {
  border: none;
  outline: none;
}

.form-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.input-containers {
  display: flex;
  flex-direction: column;
}

.reg-link {
  color: $light-teal;
  text-decoration: none;
}

.reg-link:hover {
  color: $lightest-blue;
}

.input-group {
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}

.form-input {
  border-bottom: 1px solid $lightest-blue;
  color: #fff;
  background-color: $dark-blue;
}

.form-input::placeholder {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

.form-label {
  margin-right: 10px;
} 

.primary-btn {
  border-radius: 100px;
  border: none;
  padding: 10px 40px;
  background-color: $light-teal;
  color: #fff;
  transition: all 0.5s ease;
  margin: 10px 25px 25px 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.primary-btn:hover {
  background-color: $lightest-blue;
  transform: scale(1.1);
}

